Repository jrkerns/pylinac: changes, and which Bitbucket steps are due for each by the changed paths.
All: Run CBCT Tests, Run Planar Imaging Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Path conditions:
  Run CBCT Tests: any of: pylinac/core/**, tests_basic/test_cbct.py, pylinac/ct.py
  Run Planar Imaging Tests: any of: pylinac/core/**, tests_basic/test_planar_imaging.py, pylinac/planar_imaging.py
  Run Field Analysis Tests: any of: pylinac/core/**, tests_basic/test_field_analysis.py, pylinac/field_analysis.py
  Run Machine Logs Tests: any of: pylinac/core/**, tests_basic/test_lost.py, pylinac/log_analyzer.py
  Run Picket Fence Tests: any of: pylinac/core/**, tests_basic/test_picketfence.py, pylinac/picketfence.py
  Run Starshot Tests: any of: pylinac/core/**, tests_basic/test_starshot.py, pylinac/starshot.py
  Run TG-51/TRS-398 Tests: any of: pylinac/core/**, tests_basic/test_tg51.py, tests_basic/test_trs398.py, pylinac/vmat.py
  Run VMAT Tests: any of: pylinac/core/**, tests_basic/test_vmat.py, pylinac/vmat.py
  Run Winston-Lutz Tests: any of: pylinac/core/**, tests_basic/test_winstonlutz.py, pylinac/winston_lutz.py
  Run core module tests: any of: pylinac/core/**, tests_basic/core/**

Merged in bugfix/RAM-1225_pf_max_error (pull request #49)
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Run Picket Fence Tests

Merged in bugfix/device_analysis_pdf (pull request #54)
  pylinac/field_analysis.py
  tests_basic/test_field_analysis.py
Due: Run Field Analysis Tests

Merged in bugfix/device_analysis_pdf (pull request #55)
  pylinac/field_analysis.py
  tests_basic/test_field_analysis.py
Due: Run Field Analysis Tests

Merged in bugfix/RAM-1225_pf_max_error_v3 (pull request #56)
  pylinac/picketfence.py
  tests_basic/test_picketfence.py
Due: Run Picket Fence Tests

Merged in feature/RAM-982_split_wl_images (pull request #48)
  pylinac/winston_lutz.py
  tests_basic/test_winstonlutz.py
Due: Run Winston-Lutz Tests

Merged in bugfix/max_picket_location (pull request #57)
  tests_basic/test_picketfence.py
Due: Run Picket Fence Tests

Merged in refactor/test_consolidation (pull request #59)
  tests_basic/test_logs.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_winstonlutz.py
  tests_basic/utils.py
  tests_complete/__init__.py
  tests_complete/_test_all_cbcts.py
  tests_complete/_test_all_logs.py
  tests_complete/_test_all_picketfences.py
  tests_complete/_test_all_planar_phantoms.py
  tests_complete/_test_all_starshots.py
  tests_complete/_test_all_winstonlutz.py
Due: Run Planar Imaging Tests, Run Winston-Lutz Tests

Merged in bugfix/las_vegas_contrast (pull request #58)
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Merged in refactor/bump_version (pull request #60)
  .bumpversion.cfg
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: none

Merged in bugfix/remove_pytoml_for_now (pull request #61)
  _pyproject.toml
Due: none

Merged in hotfix/skimage_array_fix (pull request #63)
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

Merged in feature/RAM-1248_add_figsize (pull request #65)
  pylinac/ct.py
  pylinac/field_analysis.py
  pylinac/planar_imaging.py
  pylinac/starshot.py
  pylinac/vmat.py
  tests_basic/test_cbct.py
  tests_basic/test_field_analysis.py
  tests_basic/test_planar_imaging.py
  tests_basic/test_starshot.py
  tests_basic/test_vmat.py
Due: Run CBCT Tests, Run Planar Imaging Tests, Run Field Analysis Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests

Merged in docs/RAM-1355_snc_docs (pull request #64)
  docs/source/planar_imaging.rst
Due: none

Merged in docs/RAM-1354_ptw_docs (pull request #62)
  docs/source/planar_imaging.rst
  pylinac/planar_imaging.py
Due: Run Planar Imaging Tests

off-center catphans were given weird results. ROI sampling was inverted row/col
  pylinac/core/roi.py
  tests_basic/core/test_roi.py
Due: Run CBCT Tests, Run Planar Imaging Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

clarify test in comment
  tests_basic/core/test_roi.py
Due: Run core module tests

fix 2 tests
  tests_basic/test_cbct.py
Due: Run CBCT Tests

fix unrelated log issue
  tests_basic/test_logs.py
Due: none

remove tests added in 3.0; bad manual merge
  tests_basic/test_cbct.py
Due: Run CBCT Tests

Merged in bugfix/RAM-1464_25_fix (pull request #67)
  docs/source/changelog.rst
  docs/source/conf.py
  pylinac/__init__.py
  pylinac/core/roi.py
  requirements.txt
  setup.py
  tests_basic/core/test_roi.py
  tests_basic/test_cbct.py
  tests_basic/test_logs.py
Due: Run CBCT Tests, Run Planar Imaging Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merged in bugfix/v3.0.2 (pull request #69)
  .bumpversion.cfg
  docs/source/changelog.rst
  docs/source/conf.py
  pylinac/__init__.py
  pylinac/core/roi.py
  pylinac/version.py
  requirements.txt
  tests_basic/core/test_roi.py
  tests_basic/test_cbct.py
Due: Run CBCT Tests, Run Planar Imaging Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merged in bugfix/RAM-1464_offcenter_catphan (pull request #66)
  pylinac/core/roi.py
  tests_basic/core/test_roi.py
  tests_basic/test_cbct.py
  tests_basic/test_logs.py
Due: Run CBCT Tests, Run Planar Imaging Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merged in bugfix/RAM-1531_fc2_swapped_field_row_col (pull request #70)
  pylinac/planar_imaging.py
  tests_basic/test_planar_imaging.py
Due: Run Planar Imaging Tests

Merged in bugfix/416_cbct_docs (pull request #72)
  docs/source/cbct.rst
  pylinac/ct.py
Due: Run CBCT Tests

Merged in testing/image_generator_tests (pull request #74)
  tests_basic/core/test_generator.py
Due: Run core module tests

Merged in bugfix/408_dynalog_isoplane_correct (pull request #71)
  pylinac/log_analyzer.py
  tests_basic/test_logs.py
Due: Run Machine Logs Tests

Merged in docs/v3.1_changelog (pull request #73)
  docs/source/changelog.rst
Due: none

Merged in fix-versions (pull request #75)
  .bumpversion.cfg
  setup.py
Due: none

fix version
  .bumpversion.cfg
  pylinac/__init__.py
  pylinac/version.py
Due: none

Merged in release-v3.1 (pull request #76)
  .bumpversion.cfg
  pylinac/__init__.py
  pylinac/version.py
Due: none

bump to 3.1.1 to fix version issue
  .bumpversion.cfg
  docs/source/conf.py
  pylinac/version.py
  setup.py
Due: none

Merged in feature/pyproject.toml (pull request #77)
  poetry.lock
  pyproject.toml
  pytest.ini
  setup.cfg
  setup.py
Due: none

Merged in feature/RAM-1204_acr_ct_phantom (pull request #78)
  docs/source/acr.rst
  docs/source/index.rst
  pylinac/__init__.py
  pylinac/acr.py
  pylinac/core/image.py
  pylinac/core/mtf.py
  pylinac/ct.py
  tests_basic/test_acr.py
  tests_basic/utils.py
Due: Run CBCT Tests, Run Planar Imaging Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merged in feature/RAM-1201_ACR_MRI (pull request #79)
  Dockerfile-pipeline-image
  bitbucket-pipelines.yml
  docs/source/acr.rst
  poetry.lock
  pylinac/__init__.py
  pylinac/acr.py
  pylinac/core/image.py
  pylinac/core/mtf.py
  pylinac/core/roi.py
  pylinac/ct.py
  pyproject.toml
  requirements-ram.txt
  tests_basic/test_acr.py
  tests_basic/utils.py
Due: Run CBCT Tests, Run Planar Imaging Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merged in feature/RAM-1606_wl_filename_mapping (pull request #81)
  docs/source/winston_lutz.rst
  pylinac/core/image.py
  pylinac/winston_lutz.py
  tests_basic/core/test_image.py
  tests_basic/test_winstonlutz.py
Due: Run CBCT Tests, Run Planar Imaging Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests

Merged in tests/add_coverage (pull request #82)
  pyproject.toml
  requirements-dev.txt
Due: none

Merged in bugfix/remove_iterable (pull request #85)
  pylinac/core/image.py
Due: Run CBCT Tests, Run Planar Imaging Tests, Run Field Analysis Tests, Run Machine Logs Tests, Run Picket Fence Tests, Run Starshot Tests, Run TG-51/TRS-398 Tests, Run VMAT Tests, Run Winston-Lutz Tests, Run core module tests
